USE [master]
GO
/****** Object:  Database [AgenciaDeToursDB]    Script Date: 7/8/2025 11:50:15 p. m. ******/
CREATE DATABASE [AgenciaDeToursDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgenciaDeToursDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AgenciaDeToursDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgenciaDeToursDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AgenciaDeToursDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgenciaDeToursDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgenciaDeToursDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/8/2025 11:50:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destinos]    Script Date: 7/8/2025 11:50:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destinos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[PaisId] [int] NOT NULL,
	[DuracionTexto] [nvarchar](50) NOT NULL,
	[ImagenUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Destinos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 7/8/2025 11:50:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Bandera] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Paises] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 7/8/2025 11:50:15 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[DestinoID] [int] NOT NULL,
	[PaisID] [int] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[FechaFin] [datetime2](7) NULL,
	[Estado] [nvarchar](20) NULL,
	[ITBIS] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Tours] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250722033616_AgenciaTours', N'9.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250724003804_AgregarColumnaBandera', N'9.0.7')
GO
SET IDENTITY_INSERT [dbo].[Destinos] ON 

INSERT [dbo].[Destinos] ([ID], [Nombre], [PaisId], [DuracionTexto], [ImagenUrl]) VALUES (7, N'HERRERA PAL MUNDO', 4, N'4 DIAS', NULL)
INSERT [dbo].[Destinos] ([ID], [Nombre], [PaisId], [DuracionTexto], [ImagenUrl]) VALUES (10, N'TULUM EN LA RIVIERA MAYA', 19, N'10 DIAS', NULL)
INSERT [dbo].[Destinos] ([ID], [Nombre], [PaisId], [DuracionTexto], [ImagenUrl]) VALUES (15, N'CIUDAD DE MEXICO', 19, N'2 DIAS', NULL)
SET IDENTITY_INSERT [dbo].[Destinos] OFF
GO
SET IDENTITY_INSERT [dbo].[Paises] ON 

INSERT [dbo].[Paises] ([ID], [Nombre], [Bandera]) VALUES (4, N'REPUBLICA DOMINICANA', N'/uploads/9402c6cd-670b-47a9-81b0-b411491784c7.png')
INSERT [dbo].[Paises] ([ID], [Nombre], [Bandera]) VALUES (19, N'MEXICO', N'/uploads/86fd38e3-68b2-4be0-b825-e324ea5bb9f2.png')
INSERT [dbo].[Paises] ([ID], [Nombre], [Bandera]) VALUES (21, N'BRAZIL', N'/uploads/5a4dcc13-1a87-42af-9e67-31335b8b06f2.png')
SET IDENTITY_INSERT [dbo].[Paises] OFF
GO
SET IDENTITY_INSERT [dbo].[Tours] ON 

INSERT [dbo].[Tours] ([ID], [Nombre], [DestinoID], [PaisID], [Fecha], [Hora], [Precio], [FechaFin], [Estado], [ITBIS]) VALUES (10, N'BrazilerosTour''s', 16, 21, CAST(N'2025-08-08T00:00:00.0000000' AS DateTime2), CAST(N'00:23:00' AS Time), CAST(8000.00 AS Decimal(18, 2)), CAST(N'2025-08-12T00:23:00.0000000' AS DateTime2), N'Vigente', CAST(1440.00 AS Decimal(18, 2)))
INSERT [dbo].[Tours] ([ID], [Nombre], [DestinoID], [PaisID], [Fecha], [Hora], [Precio], [FechaFin], [Estado], [ITBIS]) VALUES (12, N'PRtours', 22, 33, CAST(N'2025-08-11T00:00:00.0000000' AS DateTime2), CAST(N'15:47:00' AS Time), CAST(12000.00 AS Decimal(18, 2)), CAST(N'2025-08-14T15:47:00.0000000' AS DateTime2), N'Vigente', CAST(2160.00 AS Decimal(18, 2)))
INSERT [dbo].[Tours] ([ID], [Nombre], [DestinoID], [PaisID], [Fecha], [Hora], [Precio], [FechaFin], [Estado], [ITBIS]) VALUES (13, N'LaHabanaTours', 19, 30, CAST(N'2025-08-28T00:00:00.0000000' AS DateTime2), CAST(N'12:00:00' AS Time), CAST(5200.00 AS Decimal(18, 2)), CAST(N'2025-09-04T12:00:00.0000000' AS DateTime2), N'Vigente', CAST(936.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Tours] OFF
GO
/****** Object:  Index [IX_Destinos_PaisId]    Script Date: 7/8/2025 11:50:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Destinos_PaisId] ON [dbo].[Destinos]
(
	[PaisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tours_DestinoID]    Script Date: 7/8/2025 11:50:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Tours_DestinoID] ON [dbo].[Tours]
(
	[DestinoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tours_PaisID]    Script Date: 7/8/2025 11:50:15 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Tours_PaisID] ON [dbo].[Tours]
(
	[PaisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Paises] ADD  DEFAULT (N'') FOR [Bandera]
GO
ALTER TABLE [dbo].[Tours] ADD  DEFAULT ((0.00)) FOR [ITBIS]
GO
ALTER TABLE [dbo].[Destinos]  WITH CHECK ADD  CONSTRAINT [FK_Destinos_Paises_PaisId] FOREIGN KEY([PaisId])
REFERENCES [dbo].[Paises] ([ID])
GO
ALTER TABLE [dbo].[Destinos] CHECK CONSTRAINT [FK_Destinos_Paises_PaisId]
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD  CONSTRAINT [FK_Tours_Destinos_DestinoID] FOREIGN KEY([DestinoID])
REFERENCES [dbo].[Destinos] ([ID])
GO
ALTER TABLE [dbo].[Tours] CHECK CONSTRAINT [FK_Tours_Destinos_DestinoID]
GO
ALTER TABLE [dbo].[Tours]  WITH CHECK ADD  CONSTRAINT [FK_Tours_Paises_PaisID] FOREIGN KEY([PaisID])
REFERENCES [dbo].[Paises] ([ID])
GO
ALTER TABLE [dbo].[Tours] CHECK CONSTRAINT [FK_Tours_Paises_PaisID]
GO
USE [master]
GO
